$font-family-base : 'Noto Sans', sans-serif;

$aas-font-xlg : 30px;
$aas-font-lg2 : 25px;
$aas-font-lg : 20px;
$aas-font-llg : 18px;
$xaxis-font-md : 17px;
$aas-font-default : 16px;
$aas-font-sm : 15px;
$aas-font-xs : 14px;
$xaxis-font-xxs : 13px;
$xaxis-font-tiny : 12px;



$aas-primary-color:#554991;
$aas-secondary-color:#f4f8f9;


$btn-primary-color: $aas-primary-color;
$btn-primary-border: $aas-primary-color;
$btn-primary-color: #FFFFFF;
//$btn-default-color:$btn-primary-color;

$padding-base-vertical: 8px;
$padding-base-horizontal: 25px;

$navbar-default-link-active-bg: transparent;

$xaxis-color-black: rgba(0,0,0,1);
$xaxis-color-mildBlack: rgba(0,0,0,0.7);


//@mixin button-variant - chnaged hover and focus from lighten to darken

// Third party dependencies

//@import "../../bower_components/font-awesome/scss/font-awesome";
@import "vendors/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendors/ngProgress";
@import "vendors/font-awesome/font-awesome";

@import "../../../node_modules/toastr/toastr.scss";
@import "mixins";
@import "global";

@import "../modules/home/home";